<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newsmon.dao.CultureNewsDAO">

	<insert id="create">
		insert into tb_culture_news (title, subtitle,
		content, reporter_id, press, query)
		values(#{title}, #{subtitle}, #{content},
		#{reporter_id}, #{press}, #{query})
	</insert>
	
	<select id="today" resultType="CultureNewsVO">
		select tb_culture_news.*, tb_users.nickname from tb_culture_news, tb_users 
		where tb_culture_news.reporter_id = tb_users.uid order by cno desc limit 1;
	</select>

	<select id="read" resultType="CultureNewsVO">
		select tb_culture_news.*, tb_users.nickname from tb_culture_news, tb_users 
		where tb_culture_news.cno = #{cno} and tb_culture_news.reporter_id = tb_users.uid
	</select>

	<update id="update">
		update tb_culture_news
		set title =#{title}, subtitle =#{subtitle}, content =#{content}, 
		press =#{press}, query=#{query}, uptdate = now()
		where cno = #{cno}
	</update>
	
	<delete id="delete">
		delete from tb_culture_news where cno =#{cno}
	</delete>
	
	<select id="list" resultType="CultureNewsVO">
		<![CDATA[
		select tb_culture_news.*, tb_users.nickname 
		from tb_culture_news, tb_users
		where tb_culture_news.cno > 0 and tb_culture_news.reporter_id = tb_users.uid
		order by tb_culture_news.cno desc, tb_culture_news.regdate desc
		limit #{pageStart}, #{perPageNum}
		]]>
	</select>
	
	<select id="cntPaging" resultType = "int">
		<![CDATA[
		select count(tb_culture_news.cno) from tb_culture_news, tb_users 
		where tb_culture_news.cno > 0 and tb_users.uid = tb_culture_news.reporter_id
		]]>
	</select>
	
	<update id="uptReplyCnt">
		update tb_culture_news set replycnt = replycnt + #{amount} where cno = #{cno}
	</update>
	
	<update id="uptViewCnt">
		update tb_culture_news set viewcnt = viewcnt + 1 where cno = #{cno}
	</update>
	
	<update id="uptTodayViewCnt">
		update tb_culture_news set viewcnt = viewcnt + 1 order by cno desc limit 1
	</update> 
	
	<update id="uptVoteCnt_positive">
		update tb_culture_news set votecnt_positive = votecnt_positive + #{amount} where cno = #{cno}
	</update>
	
	<update id="uptVoteCnt_negative">
		update tb_culture_news set votecnt_negative = votecnt_negative + #{amount} where cno = #{cno}
	</update>
	
	<update id="calcRate">
		update tb_culture_news set vote_rate = #{vote_rate} where cno = #{cno}
	</update>
	
	<insert id="addAttach">
		insert into tb_culture_attach(fullname, cno) values (#{fullName}, LAST_INSERT_ID())
	</insert>
	
	<select id="getAttach" resultType="string">
		select fullname from tb_culture_attach where cno = #{cno} order by regdate
	</select>
	
	<delete  id="deleteAttach">
		delete from tb_culture_attach where cno = #{cno}
	</delete>
	
	<insert id ="replaceAttach">
		insert into tb_culture_attach(fullname, cno) values (#{fullName}, #{cno})
	</insert>
</mapper>