<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newsmon.dao.PeopleNewsDAO">

	<insert id="create">
		insert into tb_people_news (title, subtitle,
		content, reporter_id, press, query)
		values(#{title}, #{subtitle}, #{content},
		#{reporter_id}, #{press}, #{query})
	</insert>
	
	<select id="today" resultType="PeopleNewsVO">
		select tb_people_news.*, tb_users.nickname from tb_people_news, tb_users 
		where tb_people_news.reporter_id = tb_users.uid order by pno desc limit 1;
	</select>

	<select id="read" resultType="PeopleNewsVO">
		select tb_people_news.*, tb_users.nickname from tb_people_news, tb_users 
		where tb_people_news.pno = #{pno} and tb_people_news.reporter_id = tb_users.uid
	</select>

	<update id="update">
		update tb_people_news
		set title =#{title}, subtitle =#{subtitle}, content =#{content}, 
		press =#{press}, query=#{query}, uptdate = now()
		where pno = #{pno}
	</update>
	
	<delete id="delete">
		delete from tb_people_news where pno =#{pno}
	</delete>
	
	<select id="list" resultType="PeopleNewsVO">
		<![CDATA[
		select tb_people_news.*, tb_users.nickname 
		from tb_people_news, tb_users
		where tb_people_news.pno > 0 and tb_people_news.reporter_id = tb_users.uid
		order by tb_people_news.pno desc, tb_people_news.regdate desc
		limit #{pageStart}, #{perPageNum}
		]]>
	</select>
	
	<select id="cntPaging" resultType = "int">
		<![CDATA[
		select count(tb_people_news.pno) from tb_people_news, tb_users 
		where tb_people_news.pno > 0 and tb_users.uid = tb_people_news.reporter_id
		]]>
	</select>
	
	<update id="uptReplyCnt">
		update tb_people_news set replycnt = replycnt + #{amount} where pno = #{pno}
	</update>
	
	<update id="uptViewCnt">
		update tb_people_news set viewcnt = viewcnt + 1 where pno = #{pno}
	</update>
	
	<update id="uptTodayViewCnt">
		update tb_people_news set viewcnt = viewcnt + 1 order by pno desc limit 1
	</update> 
	
	<update id="uptVoteCnt_positive">
		update tb_people_news set votecnt_positive = votecnt_positive + #{amount} where pno = #{pno}
	</update>
	
	<update id="uptVoteCnt_negative">
		update tb_people_news set votecnt_negative = votecnt_negative + #{amount} where pno = #{pno}
	</update>
	
	<update id="calcRate">
		update tb_people_news set vote_rate = #{vote_rate} where pno = #{pno}
	</update>
	
	<insert id="addAttach">
		insert into tb_people_attach(fullname, pno) values (#{fullName}, LAST_INSERT_ID())
	</insert>
	
	<select id="getAttach" resultType="string">
		select fullname from tb_people_attach where pno = #{pno} order by regdate
	</select>
	
	<delete  id="deleteAttach">
		delete from tb_people_attach where pno = #{pno}
	</delete>
	
	<insert id ="replaceAttach">
		insert into tb_people_attach(fullname, pno) values (#{fullName}, #{pno})
	</insert>
</mapper>