<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newsmon.dao.SportsVoteDAO">
	
	<select id="showAll" resultType="SportsVoteVO">
		select tb_sports_vote.*, tb_users.nickname
		from tb_sports_vote, tb_users
		where tb_sports_vote.sno = #{sno}
		and tb_sports_vote.voter_id = tb_users.uid
		order by vno asc, regdate desc
	</select>
	
	<select id="voteList" resultType ="SportsVoteVO">
		select tb_sports_vote.*, tb_users.nickname
		from tb_sports_vote, tb_users
		where tb_sports_vote.sno = #{sno} 
		and tb_sports_vote.voter_id = tb_users.uid
		order by tb_sports_vote.vno desc
		limit #{cri_ten.pageStart}, #{cri_ten.perPageNum}
	</select>
	
	<insert id="vote">
		insert into tb_sports_vote (sno, voter_id, isPositive)
		values(#{sno}, #{voter_id}, #{isPositive})
	</insert>
	
	<update id="revote">
		update tb_sports_vote
		set isPositive=#{isPositive}, uptdate = now()
		where vno = #{vno}
	</update>
	
	<select id="cntVote" resultType = "int">
		select count(sno) from tb_sports_vote where sno=#{sno}
	</select>
	
	<select id="cntPositive" resultType="int">
		select count(sno) from tb_sports_vote where sno=#{sno} and isPositive = true
	</select>
	
	<select id="cntNegative" resultType="int">
		select count(sno) from tb_sports_vote where sno =#{sno} and isPositive = false
	</select>
	
	<select id="getSno" resultType="int">
		select sno from tb_sports_vote where vno = #{vno}
	</select>
</mapper>