<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newsmon.dao.SportsNewsDAO">

	<insert id="create">
		insert into tb_sports_news (title, subtitle,
		content, reporter_id, press, query)
		values(#{title}, #{subtitle}, #{content},
		#{reporter_id}, #{press}, #{query})
	</insert>
	
	<select id="today" resultType="SportsNewsVO">
		select tb_sports_news.*, tb_users.nickname from tb_sports_news, tb_users 
		where tb_sports_news.reporter_id = tb_users.uid order by sno desc limit 1;
	</select>

	<select id="read" resultType="SportsNewsVO">
		select tb_sports_news.*, tb_users.nickname from tb_sports_news, tb_users 
		where tb_sports_news.sno = #{sno} and tb_sports_news.reporter_id = tb_users.uid
	</select>

	<update id="update">
		update tb_sports_news
		set title =#{title}, subtitle =#{subtitle}, content =#{content}, 
		press =#{press}, query=#{query}, uptdate = now()
		where sno = #{sno}
	</update>
	
	<delete id="delete">
		delete from tb_sports_news where sno =#{sno}
	</delete>
	
	<select id="list" resultType="SportsNewsVO">
		<![CDATA[
		select tb_sports_news.*, tb_users.nickname 
		from tb_sports_news, tb_users
		where tb_sports_news.sno > 0 and tb_sports_news.reporter_id = tb_users.uid
		order by tb_sports_news.sno desc, tb_sports_news.regdate desc
		limit #{pageStart}, #{perPageNum}
		]]>
	</select>
	
	<select id="cntPaging" resultType = "int">
		<![CDATA[
		select count(tb_sports_news.sno) from tb_sports_news, tb_users 
		where tb_sports_news.sno > 0 and tb_users.uid = tb_sports_news.reporter_id
		]]>
	</select>
	
	<update id="uptReplyCnt">
		update tb_sports_news set replycnt = replycnt + #{amount} where sno = #{sno}
	</update>
	
	<update id="uptViewCnt">
		update tb_sports_news set viewcnt = viewcnt + 1 where sno = #{sno}
	</update>
	
	<update id="uptTodayViewCnt">
		update tb_sports_news set viewcnt = viewcnt + 1 order by sno desc limit 1
	</update> 
	
	<update id="uptVoteCnt_positive">
		update tb_sports_news set votecnt_positive = votecnt_positive + #{amount} where sno = #{sno}
	</update>
	
	<update id="uptVoteCnt_negative">
		update tb_sports_news set votecnt_negative = votecnt_negative + #{amount} where sno = #{sno}
	</update>
	
	<update id="calcRate">
		update tb_sports_news set vote_rate = #{vote_rate} where sno = #{sno}
	</update>
	
	<insert id="addAttach">
		insert into tb_sports_attach(fullname, sno) values (#{fullName}, LAST_INSERT_ID())
	</insert>
	
	<select id="getAttach" resultType="string">
		select fullname from tb_sports_attach where sno = #{sno} order by regdate
	</select>
	
	<delete  id="deleteAttach">
		delete from tb_sports_attach where sno = #{sno}
	</delete>
	
	<insert id ="replaceAttach">
		insert into tb_sports_attach(fullname, sno) values (#{fullName}, #{sno})
	</insert>
</mapper>